.hostlive_main {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    ". . . main_title main_title main_title main_title main_title main_title main_title . . ."
    ". . . . . . . . . . . . ."
    ". . video_section video_section video_section video_section . chat_section chat_section chat_section chat_section . ."
    ". . video_section video_section video_section video_section . chat_section chat_section chat_section chat_section . ."
    ". . video_section video_section video_section video_section . chat_section chat_section chat_section chat_section . ."
    ". . video_section video_section video_section video_section . chat_section chat_section chat_section chat_section . ."
    ". . video_section video_section video_section video_section . chat_section chat_section chat_section chat_section . ."
    ". . . . . . . . . . . . .";
}
.main_title{
    grid-area: main_title;
    align-self: flex-end;
    justify-self: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

.video_section {
  grid-area: video_section;
  position: relative;
}

.video_live {
  width: 100%;
  height: 100%;
}
.video_btns {
  bottom: 5%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.chat_section {
  grid-area: chat_section;
  border-radius: 20px;
}
.audio_button, .video_button, .leave_button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.audio_button, .video_button{
    border: 2px solid #13132b;
    color: #13132b;
}

.leave_button{
    border: 2px solid tomato;
    color: tomato;
}
.audio_button:hover, .video_button:hover{
    background-color: #13132b;
    color: whitesmoke;
}

.leave_button:hover{
    background-color: tomato;
    color: whitesmoke;
}



@media screen and (max-width: 768px) {
  .hostlive_main {
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
    grid-template-rows: repeat(13, 1fr);
    grid-template-areas:
    ". . ."
    ". main_title ."
    ". . ."
    ". video_section ."
    ". video_section ."
    ". video_section ."
    ". video_section ."
    ". . ."
    ". chat_section ."
    ". chat_section ."
    ". chat_section ."
    ". chat_section ."
    ". . .";
  }
}
